<!-- -*- mode: xml -*- -->
<launch>
  <arg name="LOCAL_IP" default="192.168.97.32"/> <!-- UAV -->
  <arg name="REMOTE_IP" default="192.168.97.177"/> <!-- Remote PC -->

  <!-- Base Platform -->
  <include file="$(find jsk_mbzirc_task1_common)/launch/uav_bringup.launch" >
    <arg name="frame_rate" value="20" />
    <arg name="dji_version" default="A32_31" />
    <arg name="dji_port" default="/dev/ttyTHS1" />
  </include>

  <!-- Joy Teleop -->
  <node pkg="jsk_task3_m100" type="uav_teleop_joy" name="uav_teleop_joy"
        launch-prefix="xterm -e">
  </node>

  <!-- Communication -->
  <include file="$(find jsk_task3_m100)/launch/jsk_task3_v.launch" >
    <arg name="LOCAL_IP" value="$(arg LOCAL_IP)"/>
    <arg name="REMOTE_IP" value="$(arg REMOTE_IP)"/>
    <arg name="gimbal" value="false"/>
    <arg name="vision" value="true"/>
    <arg name="image_topic" value="/camera/image_rect"/>
    <arg name="cam_info_topic" value="/camera/fisheye_gimbal/camera_info"/>
  </include>
</launch>

