<!-- -*- mode: xml -*- -->
<launch>
  <arg name="REMOTE_IP" default="192.168.97.200"/>
  <arg name="LOCAL_IP" default="192.168.97.188"/>
  <arg name="IMAGE_PORT" default="1118"/>
  <arg name="JOY_PORT" default="1119"/>

  <group ns="silverhammer">
    <!-- FC to OCS -->
    <node pkg="jsk_network_tools" type="silverhammer_highspeed_streamer.py"
          output="screen"
          name="joy_streamer">
      <rosparam subst_value="true">
        message: jsk_network_tools/Remote_Joy
        to_port: $(arg JOY_PORT)
        send_rate: 15
        to_ip: "$(arg REMOTE_IP)"
      </rosparam>
    </node>
    <node pkg="jsk_network_tools" type="silverhammer_highspeed_receiver.py"
          output="screen"
          name="image_receiver">
      <rosparam subst_value="true">
        message: jsk_network_tools/Remote_Image
        receive_port: $(arg IMAGE_PORT)
        receive_ip: "$(arg LOCAL_IP)"
        event_driven: true
      </rosparam>
    </node>

  </group>
</launch>


